@model IEnumerable<engSoftPDV.Models.Estoque>  //recebo um objeto do tipo categoria DTO*@
@{
    Layout = "_LayoutAdmin";
}


<h2>Estoque</h2>
<hr />
<a asp-action="NovoEstoque" asp-controller="Gestao" class="btn btn-success">Criar novo estoque</a>
