@model IEnumerable<engSoftPDV.Models.Produto>  //recebo um objeto do tipo categoria DTO*@
@{
    Layout = "_LayoutAdmin";
}

<h2>Produtos</h2>
<hr />
<a asp-action="NovaPromocao" asp-controller="Gestao" class="btn btn-success">Criar nova promoção</a>
<hr />

